*{
   margin: 0;
   padding: 0;
   border: 0; 
}
@font-face {
    font-family: beautyswing;
    src: url(../fonts/beautyswing.otf);
}
body{
    background-color: white;
}
h1,
h2,
h3{
    font-family: beautyswing, sans-serif;
}
p,
a,
summary{
    font-family: commuters-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}
h1{
    color: white;
    font-size: 80px;
}
h2{
    font-size: 44px;
    padding-bottom: 15px;
}
h3{
    font-size: 28px;
}
::selection {
    background: #DEDEDE;
}
/*
========

Nav Styling

========
*/
.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color: transparent;  
}
.logo {
    width: 30%;
    display: inline-block;
    text-align: center;
    padding: 15px 0;
    font-family: beautyswing, sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.header nav {
    width: 65%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    position: relative;
    top: 10px;
}

.header nav li {
    display: inline-block;
}

.header nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    transition: .3s;
    font-family: commuters-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
}
.header.active {
    background: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.header.active a {
    color: #16160a;
}
.header.active .reserve-button{
    color: white;
}
.second-nav{
    width: 100%;
    padding: 20px 40px;
    background: #DEDEDE;
}
.second-nav li{
    display: inline-block;
}
.second-nav a{
    color: #16160a;
    text-decoration: none;
    padding-right: 60px;
    transition: .3s;
}
.second-nav a:hover{
    color: #8aa73d;
    transition: .3s;
}
/*
========

Hero Image Styling

========
*/
.hero-image-section{
    background-image: url("../images/home-hero.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    position: relative;
}
h1{
    text-align: left;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    line-height: 100px;
    color: white;
    animation: fadeIn linear .5s;

}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
/*
========

Intro Styling

========
*/
.container{
    max-width: 900px;
    margin: auto;
    padding-top: 50px;
}
.globe-logo{
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.intro-text{
    max-width: 700px;
    display: block;
    margin: auto;
}
/*
========

Half Styling

========
*/
.left-half,
.right-half{
    width: 45%;
    display: inline-block;
}
.left-half img{
    width: 100%;
}
.right-half{
    vertical-align: top;
    padding: 30px;
}
.view-more-button {
    padding: 10px 30px;
    border: solid 1px #16160a;
    display: inline-block;
    text-decoration: none;
    margin: 20px 0px;
    color: #16160a;
    transition: .3s;
}
.view-more-button:hover{
    border: solid 1px #16160a;
    background-color: #16160a;
    color: white;
    transition: .3s;
}
/*
========

Slider Styling

========
*/
.slide {
    position: relative;
}
.text-content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: rgba(22, 22, 10, 0.40);
    color: white;
    padding: 130px 30px;
    text-align: center;
    width: 40%;
}
.text-content img{
    width: 20%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.slider {
    position: relative;
    max-width: 900px;
    margin: 60px auto 80px;
}
/* This will style the height of your slider */
.slick-slider .slick-track {
    height: 500px;
}
.text-overlay {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    color: white;
}
/* This will style the navigation buttons */
.slick-prev:before, 
.slick-next:before {
    color: #16160a;
}
.slick-dots li button:before {
    font-size: 14px;
    color: #16160a;
}
.slider-name{
    padding-top: 20px;
}
/*
========

Section Break Styling

========
*/
.section-break{
    background-image: url("../images/joinus-home.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    margin: 50px 0px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 250px;
}
/*
========

CTA Card Styling

========
*/
.cta-card{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    background: #dedede;
    padding: 60px 60px;
    position: relative;
    z-index: 79;
    bottom: -280px;
}
.reserve-button{
    background: #16160a;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    margin-top: 40px;
    color: white;
    transition: .3s;
}
.reserve-button:hover{
    background: #8aa73d;
    transition: .3s;
    color: white;
}
/*
========

Gallery Styling

========
*/
.gallery{
    margin: 60px auto;
}
.gallery p{
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.gallery img{
	width: 400px;

}
.lb-caption{
	font-size: 30px !important;
	color: white;
	font-family: commuters-sans, sans-serif;
}
.gallery-images{
    text-align: center;
    padding: 20px;
}
/*
========

RETREAT PAGE SPECIFIC Styling

========
*/
.hero-image-section.retreat{
    background-image: url("../images/retreat-hero.jpg");
    height: 450px;
}
#activities h2{
    text-align: center;
}
.journey-box{
    border: solid 1px #16160a;
    padding: 30px;
    float: left;
    width: 30%;
    box-sizing: border-box;
    margin: 10px 10px;
    text-align: center;
}
.journey-box img{
    width: 40px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.section-break.retreat{
    background-image: url("../images/exp-sectionbreak.jpg");
    margin-bottom: 60px;
}
.journey-box li{
    text-align: left;
    padding: 5px;
    font-family: commuters-sans, sans-serif;
}
.subtitle{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    background: #dedede;
    position: relative;
    z-index: 79;
    bottom: -450px;
}
.subtitle h2{
    padding: 10px;
}
.container.retreat h2{
    text-align: center;
}
details {
    background: #DEDEDE;
    padding: 15px 20px;
    margin: 10px 0px;
}
details p {
    padding: 15px 25px 10px;
}
/*
========

STORY PAGE SPECIFIC Styling

========
*/
.hero-image-section.story{
    background-image: url("../images/story-hero.jpg");
    height: 450px;
}
.section-break.story{
    background-image: url("../images/tran-sectionbreak.jpg");
    margin-bottom: 60px;
}
.container.guides{
    text-align: center;
    margin: 0 auto;
    padding-top: 0px;
}
.text-content.story{
    padding: 170px 30px;
}
.gallery.story h3{
    text-align: center;
}
/*=====
Flip Card Styling
=====*/
.flip-card{
    width: 280px;
    height: 280px;
    display: inline-block;
    background: transparent;
    margin-bottom: 200px;
}
.flip-card img{
    width: 100%;
}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .6s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front, 
.flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back{
    background: #dedede;
    color: #16160a;
    transform: rotateY(180deg);
    padding-top: 140px;
}
/*
========

RESERVE PAGE SPECIFIC Styling

========
*/
.hero-image-section.reserve{
    background-image: url("../images/reserve-hero.jpg");
    height: 450px;
}
.reserve-form{
    padding: 0px 0px;
    margin: 0px auto 50px;
}
.input-section{
    margin-bottom: 40px;
    font-family: commuters-sans, sans-serif;
}
input{
    padding: 10px 50px 10px 10px;
    margin: 0px 5px;
    border: solid 1px #dedede;
}
.first-name,
.last-name,
.email,
.telephone{
    display: inline;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #16160a;
    opacity: 1; /* Firefox */
    font-size: 16px;
    font-family: commuters-sans, sans-serif;
}
.reserve-form p{
    padding: 10px 0px;
}
.none label{
    display: none;
}
.container.reserve h2{
    padding-bottom: 0px;
}
.question{
    margin-top: 20px;
}
.reset{
    display: inline;
}
.submit input{
    background: #16160a;
    color: white;
    padding: 10px 30px;
    transition: .3s;
    margin-top: 10px;
    margin: 0 auto;
    text-align: center;
    font-family: commuters-sans, sans-serif;
    font-size: 16px;
    transition: .3s;
    margin: 40px 0px;
}
.submit input:hover{
    background: #8aa73d;
    transition: .3s;
    color: white;
}
.reset input{
    border: solid 1px #16160a;
    background: white;
    color: #16160a;
    padding: 10px 40px;
    font-family: commuters-sans, sans-serif;
    transition: .3s;
}
.reset input:hover{
    background: #16160a;
    color: white;
    transition: .3s;
}
.datepicker{
    margin-bottom: 60px;
}
/*
========

Footer Styling

========
*/
footer{
    bottom: 0;
    width: 100%;
    background-color: #16160a;
    color: white;
    height: 170px;
}
footer h2{
    font-size: 24px;
    text-align: left;
}
footer p{
    font-size: 14px;
}
.topleftfooter{
    width: 30%;
    display: inline-block;
    margin: 20px 0px 0px 20px;
}
.toprightfooter{
    width: 65%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    position: relative;
    top: 10px;
    margin: 20px 20px 0px 0px;
}
.toprightfooter img{
    width: 25px;
    padding-right: 10px;
}
.bottomleftfooter{
    width: 30%;
    display: inline-block;
    margin: 20px;
    bottom: 0px;
}
