*{
   margin: 0;
   padding: 0;
   border: 0; 
}
@font-face {
    font-family: beautyswing;
    src: url(../fonts/beautyswing.otf);
}
h1,
h2{
    font-family: beautyswing, sans-serif;
}
p,
a{
    font-family: commuters-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
}
h2{
    font-size: 44px;
    padding-bottom: 20px;
}
/*
========

Header Styling

========
*/
.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color:transparent;  
}
.header.active {
    background: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.logo {
    width: 30%;
    display: inline-block;
    text-align: center;
    padding: 15px 0;
    font-family: beautyswing, sans-serif;
    text-decoration: none;
}
header nav {
    width: 65%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    position: relative;
    top: 10px;
}

header nav li {
    display: inline-block;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    transition: .3s;
    font-family: commuters-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
}
/*
========

Hero Image Styling

========
*/
.hero-image-section{
    background-image: url("../images/home-hero.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}
h1{
    text-align: left;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    line-height: 100px;
}
/*
========

Intro Styling

========
*/
.container{
    max-width: 1000px;
    margin: auto;
    padding-top: 50px;
}
.globe-logo{
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.intro-text{
    max-width: 700px;
    display: block;
    margin: auto;
}
/*
========

Half Styling

========
*/
.left-half,
.right-half{
    width: 45%;
    display: inline-block;
}
.left-half img{
    width: 100%;
}
.right-half{
    vertical-align: top;
    padding: 30px;
}
.view-more-button {
    padding: 10px 30px;
    border: solid 1px #16160a;
    display: inline-block;
    text-decoration: none;
    margin: 20px 0px;
    color: #16160a;
    transition: .3s;
}
.view-more-button:hover{
    border: solid 1px #16160a;
    background-color: #16160a;
    color: white;
    transition: .3s;
}
/*
========

Slider Styling

========
*/
.slick-prev:before, 
.slick-next:before {
    color: #333;
}
.slide {
    position: relative;
}

.text-content {
    position: absolute;
    top: 50px;
    right: 30px;
    width: 50%;
    background: white;
    padding: 30px;
}
.text-content.bottom {
    bottom: 60px;
    top: initial;
}
section.slider {
    position: relative;
}
.text-overlay {
    position: absolute;
    bottom: 20px;
    background: white;
    left: 30px;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}
/*
========

Section Break Styling

========
*/
.section-break{
    background-image: url("../images/joinus-home.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}
/*
========

CTA Card Styling

========
*/
.cta-card{
    max-width: 700px;
    text-align: center;
    margin: 50px auto;
    background: #d4aa7a;
    padding: 80px 60px;
}
.reserve-button{
    background: #16160a;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    margin: 20px 0px;
    color: white;
    transition: .3s;
}